.sellField {
    border: 2px solid rgb(222, 222, 222);
    border-radius: 20px;
    color: black;
    margin: 3% 0% !important;
min-width: 400px;


    
}

.button {
    border: 2px solid rgba(118, 95, 234, 0.722) !important;
    padding: 2%!important;
    border-radius: 20px !important;
    cursor: pointer !important;
    width: 30% !important;
    opacity: 0.9 !important;
    font-size: 14px !important;
    cursor: pointer !important;
    margin: 10px 0px !important;
    transition-duration: 0.4s;
    color: black !important;
}

.button:hover {
    background-color: slateblue !important; /* Green */
    color: white !important;
    border: none !important;
  }


.button:hover {
    opacity: 1;
  }

  .formstyle{
    width: 100%;
    padding: 0%;
   
  }

  .formstyleform{
    width: 100%;
    padding: 10% 5%;
   
  }

  .radioStyle{
    text-align: end !important;
  }

  .whoAreyou{
padding-bottom: 5% !important;
text-align: left;
width: 80%;

  }

  .label h5{
    text-align: left !important;
    font-size: medium;

  }

  .label p{
    text-align: left !important;
    font-size: small !important;
   margin-bottom: 1%;
  }

  