.banner {
    background-size: cover;
    height: 100%;
   background-position: center;
   background-repeat: no-repeat;
   display: flex;
   justify-content: center;
   flex-direction: column;
   background-size: cover;
    
  }


  .luxeryHeader {
    width: 60%;
    margin: 15% 40% 13% 15%;
  }
  
  .agentTytle{
    color: black !important;
  }

  .banner .luxeryHeader h2{

    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 33px;
    color: white;

  }
  
  .banner .luxeryHeader h1{

    font-size: 66px;
    color: white;
    
  }

  label{
    position: relative;
    margin-top: 20px;
  }

  .button:hover{

    background-color: #6A5ACD;
    transition: .8s;
    
  }
 
  .headerPadding{

    padding: 1% 4%;
  }

  .appbarShadow{

    box-shadow: none !important;
    border: none !important;
  }

/* Header.js file css classes  */

.logo{ 
  
  height: 25%;
  width: 25%;
  object-fit: "contain";

}

.logoOther{ 
  
  height: 100%;
  width: 100%;
  object-fit: "contain";

}

/* agent */

.bannerAgent {
  background-size: cover;
  height: 100%;
 background-position: center;
 background-repeat: no-repeat;
 display: flex;
 justify-content: center;
 flex-direction: column;
 background-size: cover;
 justify-content: center;
 align-items: center;
 font-weight: bold;
  
}


.luxeryHeaderA {
  width: 60%;
  margin: 15% 40% 13% 15%;
}

.bannerAgent .luxeryHeaderA h1{

  font-size: 66px;
  color: white;
  
}

@media only screen and (min-width: 960px) {
  /* styles for browsers larger than 960px; */

}
@media only screen and (min-width: 1440px) {
  /* styles for browsers larger than 1440px; */
}
@media only screen and (min-width: 2000px) {
  /* for sumo sized (mac) screens */
}
@media only screen and (max-device-width: 480px) {
 /* styles for mobile browsers smaller than 480px; (iPhone) */

 .luxeryHeader {
  width: auto;
  margin: 25% 5% 25% 5%;
}

.logo{ 
  
  height: 80%;
  width: 80%;
  object-fit: "contain";

}

.logoOther{ 
  
  height: 100%;
  width:100%;
  object-fit: "contain";

}

.appbarShadow{ 
  margin-bottom: 10px;
}

.bannerinput{
  width: 300px;
}
.banner .luxeryHeader h2{
  font-size: 26px;
}

.banner .luxeryHeader h1{
  font-size: 46px;
}

.luxeryHeader {
  padding: 15% 0% 0% 0%;

}
/*cfooter logo styling*/

.footerLogo{
  width: 60% !important;
  height: 100%;
}



/* Agent */

.luxeryHeaderA {
  width: 100% !important;
  margin: 25% 0% !important;
  padding: 10% 5%;
}


}













@media only screen and (device-width: 768px) {
 /* default iPad screens */
 .agentTytle{
  color: black !important;
  font-size: 16px !important;
}
}
/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
/* For portrait layouts only */
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
/* For landscape layouts only */
}

