.heading {
  font-size: 26px;
  margin-bottom: 20px;
}

.containerBg {
  background-color: #eaeded !important;
  min-height: 500px;
  padding-top: 3%;
}
.cart {
  background-color: white;
}
.process {
  background-color: white;
  margin-left: 2%;
  width: 31%;
}
.cartRow {
  padding: 2%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .process {
    background-color: rgb(160, 58, 58);
    margin-top: 5%;
    width: 100%;
    margin-left: 0%;
  }

  .containerBg {
    height: 750px;
    padding-top: 20%;
  }

  .heading {
    font-size: 16px;
  }
}
