.Nabour{

padding: 5% 10% ;
    
}

.property{
        margin: 0 auto;
        position: relative;
}

.Nabour h2{
   text-align: left;
   color: black;

        
    }

    .property .content{
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.6); 
        color: #f1f1f1;
        width: 100%;
        padding: 2%;
        box-sizing: border-box;
  z-index: 1;

    }

    .propertyImg{
       display: block; 
       width: 100%;
    height: 150px;
    margin: 0 auto;
    

    }

    .Nabourp p{

    text-align: left;
    color: black;
    margin: 0;
            
        }


        .Nabourp {

            text-align: left;
            color: black;
            margin: 0px;
        padding-bottom: 0px !important;
        padding-top: 0px !important;;
                    
                }

                .content p{
                    font-weight: bold;
                    text-transform: uppercase;
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                }


                @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
                  .Nabour{

                    padding: 7% 5% ;
                        
                    }

.Nabour h2{
  font-size: x-large;
}

                
              
              }
              
              
              


                @media only screen and (min-width: 960px) {
                    /* styles for browsers larger than 960px; */
                
                  }
                  @media only screen and (min-width: 1440px) {
                    /* styles for browsers larger than 1440px; */
                  }
                  @media only screen and (min-width: 2000px) {
                    /* for sumo sized (mac) screens */
                  }
                  @media only screen and (max-device-width: 480px) {
                   /* styles for mobile browsers smaller than 480px; (iPhone) */
                 
                  
                  }
                  @media only screen and (device-width: 768px) {
                   /* default iPad screens */
                  }
                  /* different techniques for iPad screening */
                  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
                  /* For portrait layouts only */
                  }
                  
                  @media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
                  /* For landscape layouts only */
                  }
                  
                  