.offerStyling{

    text-align: center;
padding: 5% 10% 2% 10%;
 ;
    
}

.offer{

padding:0% 10% 5% 10%;
text-align: left;

}


.offerContent {

font-weight: 600;
color: #404040;
font-size: x-small;
font-size: 12px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.offer h5,h3{
    font-weight: bold;
    font-size: medium;
    padding: 5% 0%;
}

.step p{

    color: blue;
    font-size: small;
    font-weight: bold;
    position: relative;
    
    
}

.step p:after{
    content: "";
    display: block;
    width: 50px;
    height: 2px;
    background: darkgray;
    left: 0;
    top: 50%;
    position: absolute;
    right: 0.5em;
  margin-left:-20%;
    
}