
@font-face {
  font-family: 'Cooper Std';
  src: url('./fonts/CooperBlack-Std.otf') format('otf'),
       url('./fonts/CooperStdBlack.ttf') format('truetype'),
       url('./fonts/COOPBL.TTF') format('truetype');
      
  /* Add additional formats if necessary */
  /* Specify the correct paths to your font files */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Cooper Std', sans-serif;
}

h2{

  font-size: 30px;
}

h1{

  font-size: 40px;
}

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: greenyellow;
}
