body {
  font-family:  'Open Sans', sans-serif;
  
}



h2{

  font-size: 30px;
}

h1{
font-size: 40px;

 
}


h3{
  font-size: 30px;
  }

*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


 a {
  text-decoration: none;
   color: grey;
}

a:hover {
  color:blue;
}
